* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

ol, 
ul {
    list-style: none;
}
a {
   text-decoration: none; 
}

body {
    background-color: hsl(177, 36%, 60%);
}
main {
    margin: 50px;
    padding: 30px;color: #53128f;
}

.greeting {
  font-size: 20px;
  font-family: cursive;
}
header { border: #53128f;
    background-color: rgb(186, 188, 218);
    font-size: larger;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
              
}
 

.section-1 img {
    width: 400px;
    font-size: x-large;
   font-style: initial;
   display: flex;
   border-top-left-radius: 50%;
   border-bottom-right-radius: 20% 
   


}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Mukta', sans-serif;
}


@media (max-width:767px){ 
header {  
    background-color: blueviolet;

 }   
}

@media (min-width:768px) {
header {
        background-color: hsl(0, 79%, 39%);
} 
    }
    
    
 nav ul {
    display: flex;
     gap: 3em;

 }

 header a i {
    color: rgb(61, 21, 168);
    }

 header .fa-solid {
        font-size: 50px;
    } 
        
    
 p {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    padding: 30px;
   
 }

 h2 {
    font-family: 'Merriweather Sans', sans-serif; 
 }
 .section-2 img {
border-radius: 30%;
 }

 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }
  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }
.form-row textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  background-color: #bdbdbd;
  border: 0;
  border-radius: 6PX;

  min-height: 200px;
  margin-bottom: 10PX;
  padding: 7PX;
  resize: none;

  width: 100%;
}


/* ---------------------Para Pantallas de más de 700px----------*/
 

.form-row textarea {
  width: 250px;
}
.form-row button {
  margin-left: 120px;
  
}

/*-------------------button---------------------*/

.form-row button {
  font-size: 16px;
  font-weight: bold;


  color: #ffffff;
  background-color: #5995da;


  border: none;
  border-radius: 3px; 
  padding: 10px 40px;
  cursor: pointer;
}


.form-row button:hover {
  background-color: #76aeed;
}


.form-row button:active {
  background-color: #407fc7;
}