h1{padding: 50px;
   margin: 10px;

} 
p,
div {    background-color: rgb(94, 77, 243);
}
em,
strong,
samp { background-color: rgb(46, 28, 145);
}
h1 {padding: 50px; border-color: rgb(8, 128, 88);
    margin: 50px;
    border: 50px solid rgb(136, 10, 10);
}
div {
    padding: 10px; 5px; 15px; 3px;
    margin:10px;
    border: 15px;
}