p {
   background-color: rgb(224, 146, 73); 
   width: 50px;px ;
   height: 50px;
   display: inline-block;

}

a {
    background-color: rgb(138, 138, 170);
    width: 30px;
    height: 30px;
    display: block;
}

div {
    background-color: aqua;
    width: 50px;
    height: 30px;
    display:inline;

}

